<!-- BODY -->
<div "center">
  <a href="/"><img src="../images/sbtransparent.jpg" width="200px"></img></a>
  <h1>About Sandbox</h1>
  Big Data. Simplified.
  <br>
  <br>
  <div class="content center">
    <h3>What is Sandbox?</h3>
    Sandbox is a search engine for the deep web. In particular, Sandbox works to
    expose the knowledge and insights of big data analysis to the average
    Internet user.
    <br/>
    The "deep web" refers to any content on the World Wide Web that is not
    discoverable by traditional search techniques such as text-matching.
    While this includes password protected content, Sandbox is focusing on tapping
    into publicly available data sets and web content to more effectively answer our
    users' queries.
    <br/>
    <h3>How is Sandbox different than Google?</h3>
    While Google's knowledge boxes can be similar to the type of results that
    Sandbox provides to its users, Sandbox differs in that it executes its search
    primarily by accessing various APIs and big data sets, not just by looking
    for matching text on a webpage.
    <br/>
    To do this, Sandbox utilizes publicly available APIs of major producers of Internet
    content, like Wikipedia, Facebook, and Twitter. It also currently accesses the
    APIs of other computational search engines, like Wolfram Alpha. In the near
    future, Sandbox will also incorporate publicly available big data sets into the
    search process.
    <h3>Mission</h3>
    Sandbox aims to place the power of big data analysis at our users' fingertips.
    There is so much more we could learn from the Internet, and Sandbox strives to
    make this information more accessible and easier to understand.
    <h3>Founders</h3>
  </div>
</div>
